In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv',)

In [3]:
df.tail(10)

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
517744,517744,highway,4,0.38,60,night,clear,True,False,afternoon,True,False,1,0.42
517745,517745,highway,4,0.02,35,daylight,clear,True,True,morning,False,False,0,0.02
517746,517746,rural,4,0.53,70,dim,rainy,True,True,evening,False,False,3,0.53
517747,517747,urban,3,0.39,35,dim,foggy,True,True,morning,False,False,0,0.15
517748,517748,rural,2,0.53,70,dim,foggy,True,True,afternoon,True,True,2,0.37
517749,517749,highway,4,0.10,70,daylight,foggy,True,True,afternoon,False,False,2,0.32
517750,517750,rural,4,0.47,35,daylight,rainy,True,True,morning,False,False,1,0.26
517751,517751,urban,4,0.62,25,daylight,foggy,False,False,afternoon,False,True,0,0.19
517752,517752,highway,3,0.63,25,night,clear,True,False,afternoon,True,True,3,0.51
517753,517753,highway,2,0.31,45,dim,rainy,False,True,afternoon,True,True,2,0.22

In [4]:
df1 = pd.read_csv('synthetic_road_accidents_100k.csv')

In [5]:
df.tail(10)

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
517744,517744,highway,4,0.38,60,night,clear,True,False,afternoon,True,False,1,0.42
517745,517745,highway,4,0.02,35,daylight,clear,True,True,morning,False,False,0,0.02
517746,517746,rural,4,0.53,70,dim,rainy,True,True,evening,False,False,3,0.53
517747,517747,urban,3,0.39,35,dim,foggy,True,True,morning,False,False,0,0.15
517748,517748,rural,2,0.53,70,dim,foggy,True,True,afternoon,True,True,2,0.37
517749,517749,highway,4,0.10,70,daylight,foggy,True,True,afternoon,False,False,2,0.32
517750,517750,rural,4,0.47,35,daylight,rainy,True,True,morning,False,False,1,0.26
517751,517751,urban,4,0.62,25,daylight,foggy,False,False,afternoon,False,True,0,0.19
517752,517752,highway,3,0.63,25,night,clear,True,False,afternoon,True,True,3,0.51
517753,517753,highway,2,0.31,45,dim,rainy,False,True,afternoon,True,True,2,0.22

In [7]:
equal_data = df.equals(df1)
print(equal_data)

False

In [6]:
print("comp train data shape: ",df.shape)
print("original data shape: ",df1.shape)

comp train data shape:  (517754, 14)
original data shape:  (100000, 13)

In [9]:
print("describe train data: \n",df.describe())

describe train data:
                   id      num_lanes      curvature    speed_limit  \
count  517754.000000  517754.000000  517754.000000  517754.000000
mean   258876.500000       2.491511       0.488719      46.112575
std    149462.849975       1.120434       0.272563      15.788521
min         0.000000       1.000000       0.000000      25.000000
25%    129438.250000       1.000000       0.260000      35.000000
50%    258876.500000       2.000000       0.510000      45.000000
75%    388314.750000       3.000000       0.710000      60.000000
max    517753.000000       4.000000       1.000000      70.000000

       num_reported_accidents  accident_risk
count           517754.000000  517754.000000
mean                 1.187970       0.352377
std                  0.895961       0.166417
min                  0.000000       0.000000
25%                  1.000000       0.230000
50%                  1.000000       0.340000
75%                  2.000000       0.460000
max                  7.000000       1.000000

In [10]:
print("describe original data: \n",df1.describe())

describe original data:
            num_lanes      curvature    speed_limit  num_reported_accidents  \
count  100000.000000  100000.000000  100000.000000            100000.00000
mean        2.495300       0.500619      47.054550                 1.50308
std         1.117958       0.288691      16.321527                 1.22866
min         1.000000       0.000000      25.000000                 0.00000
25%         1.000000       0.250000      35.000000                 1.00000
50%         2.000000       0.500000      45.000000                 1.00000
75%         3.000000       0.750000      60.000000                 2.00000
max         4.000000       1.000000      70.000000                10.00000

       accident_risk
count  100000.000000
mean        0.382613
std         0.178692
min         0.000000
25%         0.250000
50%         0.380000
75%         0.510000
max         1.000000

In [ ]:
df['is_original'] = 0
df1['is_original']=1

In [12]:
df.head(2)

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk,is_original
0,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13,0
1,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35,0

In [13]:
df1.head(2)

,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk,is_original
0,rural,2,0.29,70,night,rainy,False,True,evening,False,False,1,0.64,1
1,highway,1,0.34,25,dim,clear,False,False,morning,False,False,3,0.27,1

In [14]:
comp_df = pd.concat([df,df1],ignore_index=1)

In [16]:
comp_df.shape

(617754, 15)